* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Showdex;
  src: url(../fonts/Showdex.otf);
}

body {
  font-family: Showdex;
  font-size: 72pt;
  color: red;
  width: 100dvw;
  overflow: hidden;
}

main {
  width: 100dvw;
  height: 100dvh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

a {
  color: red;
  text-decoration: none;
}

/* Scaling As Needed */

.text-2x {
  font-size: 144pt;
}

/* Positioning */
.top-left {
  position: absolute;
  top: 5%;
  left: 5%;
}

.bottom-right {
  position: absolute;
  bottom: 15%;
  right: 10%;
}

.nudge-up {
  position: absolute;
  top: 10%;
}

.nudge-down {
  position: absolute;
  bottom: 2%;
}

.fall {
  position: absolute;
  top: 28%;
  left: 74%;
}

/* Animations */

.grow-text {
  -webkit-animation: 3s ease 5s normal forwards 1 growText;
          animation: 3s ease 5s normal forwards 1 growText;
}

.fade-in-1s {
  -webkit-animation: 0.8s ease 0s normal forwards 1 fadeIn;
          animation: 0.8s ease 0s normal forwards 1 fadeIn;
}

.fade-in-3s {
  -webkit-animation: 1.8s ease 0s normal forwards 1 fadeIn;
          animation: 1.8s ease 0s normal forwards 1 fadeIn;
}

.fade-in-5s {
  -webkit-animation: 2.8s ease 0s normal forwards 1 fadeIn;
          animation: 2.8s ease 0s normal forwards 1 fadeIn;
}

.fade-in-7s {
  -webkit-animation: 3.8s ease 0s normal forwards 1 fadeIn;
          animation: 3.8s ease 0s normal forwards 1 fadeIn;
}

.fade-in-9s {
  -webkit-animation: 4.9s ease 0s normal forwards 1 fadeIn;
          animation: 4.9s ease 0s normal forwards 1 fadeIn;
}

.fade-in-12s {
  -webkit-animation: 7s ease 0s normal forwards 1 fadeIn;
          animation: 7s ease 0s normal forwards 1 fadeIn;
}

.fade-in-15s {
  -webkit-animation: 9s ease 0s normal forwards 1 fadeIn;
          animation: 9s ease 0s normal forwards 1 fadeIn;
}

.scale-4x {
  -webkit-animation: 3.5s ease 2.5s normal forwards 1 scale4x;
          animation: 3.5s ease 2.5s normal forwards 1 scale4x;
}

.scale-tall {
  -webkit-animation: 3.5s ease 2.5s normal forwards 1 scaleTall;
          animation: 3.5s ease 2.5s normal forwards 1 scaleTall;
}

.peek-in-right {
  -webkit-animation: 2.4s ease 0s normal forwards 1 peekInRight;
          animation: 2.4s ease 0s normal forwards 1 peekInRight;
}

.link-glow {
  -webkit-animation: 3s ease-in-out 1s infinite alternate both running linkGlow;
          animation: 3s ease-in-out 1s infinite alternate both running linkGlow;
}

/* Text Effects */

.wide-letters {
  -webkit-animation: 3s ease 5s normal forwards 1 wideLetters;
          animation: 3s ease 5s normal forwards 1 wideLetters;
}

.falling-words {
  -webkit-animation: 2s ease-in 4s normal forwards 1 fallingWords;
          animation: 2s ease-in 4s normal forwards 1 fallingWords;
}

@-webkit-keyframes wideLetters {
  0% {
    letter-spacing: normal;
  }

  100% {
    letter-spacing: 4rem;
  }
}

@keyframes wideLetters {
  0% {
    letter-spacing: normal;
  }

  100% {
    letter-spacing: 4rem;
  }
}

@-webkit-keyframes fallingWords {
  0% {
    transform: translate();
  }

  100% {
    transform: translate(60px, 1000px) rotate(120deg);
  }
}

@keyframes fallingWords {
  0% {
    transform: translate();
  }

  100% {
    transform: translate(60px, 1000px) rotate(120deg);
  }
}

@-webkit-keyframes peekInRight {
  0% {
    transform: translateX(2000px) rotate(0deg);
  }

  100% {
    transform: translateX(850px) rotate(-36deg);
  }
}

@keyframes peekInRight {
  0% {
    transform: translateX(2000px) rotate(0deg);
  }

  100% {
    transform: translateX(850px) rotate(-36deg);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scale4x {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(4);
  }
}

@keyframes scale4x {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(4);
  }
}

@-webkit-keyframes scaleTall {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scaleX(4) scaleY(6);
  }
}

@keyframes scaleTall {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scaleX(4) scaleY(6);
  }
}

@-webkit-keyframes linkGlow {
  0% {
    text-shadow: rgba(150, 0, 0, 0) 1px 0 10px;
  }
  70% {
  }
  100% {
    text-shadow: rgba(255, 0, 0, 1) 1px 0 10px;
  }
}

@keyframes linkGlow {
  0% {
    text-shadow: rgba(150, 0, 0, 0) 1px 0 10px;
  }
  70% {
  }
  100% {
    text-shadow: rgba(255, 0, 0, 1) 1px 0 10px;
  }
}