* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Showdex;
  src: url(../fonts/Showdex.otf);
}

body {
  font-family: Showdex;
  font-size: 72pt;
  color: red;
  width: 100dvw;
}

main {
  width: 100dvw;
  height: 100dvh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

a {
  color: red;
}

/* Text Effects */
.wide-letters {
  -webkit-animation: 3s ease 10s normal forwards 1 wideLetters;
  animation: 3s ease 5s normal forwards 1 wideLetters;
}

.falling-words {
  -webkit-animation: 10s ease 7s normal forwards 1 fallingWords;

  animation: 3s ease-in 7s normal forwards 1 fallingWords;
}

/* Scaling As Needed */

.text-2x {
  font-size: 144pt;
}

/* Positioning */
.top-left {
  position: absolute;
  top: 5%;
  left: 5%;
}

.bottom-right {
  position: absolute;
  bottom: 15%;
  right: 10%;
}

.nudge-up {
  position: absolute;
  top: 10%;
}

.nudge-down {
  position: absolute;
  bottom: 10%;
}

.fall {
  position: absolute;
  top: 28%;
  left: 74%;
}

/* Animations */

.grow-text {
  -webkit-animation: 3s ease 5s normal forwards 1 growText;
  animation: 3s ease 5s normal forwards 1 growText;
}

.fade-in-1s {
  -webkit-animation: 1s ease 0s normal forwards 1 fadeIn;
  animation: 1s ease 0s normal forwards 1 fadeIn;
}

.fade-in-3s {
  -webkit-animation: 3s ease 0s normal forwards 1 fadeIn;
  animation: 3s ease 0s normal forwards 1 fadeIn;
}

.fade-in-5s {
  -webkit-animation: 5s ease 0s normal forwards 1 fadeIn;
  animation: 5s ease 0s normal forwards 1 fadeIn;
}

.fade-in-7s {
  -webkit-animation: 7s ease 0s normal forwards 1 fadeIn;
  animation: 7s ease 0s normal forwards 1 fadeIn;
}

.fade-in-9s {
  -webkit-animation: 7s ease 0s normal forwards 1 fadeIn;
  animation: 9s ease 0s normal forwards 1 fadeIn;
}

.fade-in-5s-with-scale {
  -webkit-animation: 5s ease 0s normal forwards 1 fadeInScaleTall;
  animation: 5s ease 0s normal forwards 1 fadeInScaleTall;
}

.fade-in-13s-with-scale {
  -webkit-animation: 13s ease 0s normal forwards 1 fadeInScale;
  animation: 13s ease 0s normal forwards 1 fadeInScale;
}

.peek-in-right {
  -webkit-animation: 13s ease 0s normal forwards 1 peekInRight;
  animation: 3s ease 0s normal forwards 1 peekInRight;
}

@keyframes wideLetters {
  0% {
    letter-spacing: normal;
  }

  100% {
    letter-spacing: 4rem;
  }
}

@keyframes fallingWords {
  0% {
    transform: translate();
  }

  100% {
    transform: translate(60px, 1000px) rotate(120deg);
  }
}

@keyframes peekInRight {
  0% {
    transform: translateX(2000px);
  }

  100% {
    transform: translateX(850px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(-100px) translateY(-100px) scale(4);
  }
}

@keyframes fadeInScaleTall {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scaleX(4) scaleY(6);
  }
}
